:root {
  --main-title-color: #212121;

  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --dark-text-color: #000000;

  --accent-color: #2196f3;
  --bgc-btn-hover: #188ce8;

  --main-bgc: #f5f4fa;
  --bgc-light: #ffffff;
  --bgc-dark: #2f303a;

  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --logo-font: "Raleway";
}
